@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flipped {
    transform: rotateY(180deg) rotate(-25deg);
  }

  .animation-delay-250 {
    animation-delay: 250ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-750 {
    animation-delay: 750ms;
  }

  .paper {
    @apply rounded-lg border-2 border-black bg-amber-50 p-4 shadow-lg;
  }
}
